{% extends 'aplicacion1/home.html'%}

{%block pagina%}
    <div class="sidebar-heading border-bottom bg-light"></div>
{% endblock pagina%}

{% block contenido%}
<div style="text-align: left;"><font face="Courier New">Mi nombre es Franco Stucchi, tengo 22 años. Trabajo de técnico en electrónica y estoy estudiando la carrera de ingeniería en informática en la UNLaM.<br>
Desde mis primeros años de secundaria me gustó la programación y a medida que pasaban los años tambien todo lo que tenía que ver con informática.<br>
Para cambiarme de especialidad ya era muy tarde y terminé el secundario con la especialidad de técnico en electrónica, que es de lo que trabajo hoy.<br>
Luego pude entrar en la Universidad Nacional de la Matanza en la carrera ingeniería en informática.<br>
Mas que nada empecé esta carrera por la programación, que es a lo que me quiero dedicar, pero me decepcionó un poco que hay pocas materias de programacion al principio de la carrera y las pocas que hay, son de programacion en "C" basica.<br>
Me quise adelantar y por eso busco hacer cursos de programacion y es ahí donde encontre CoderHouse.<br>
Este es mi primer curso de Coder y luego seguiré con muchas más. Mi objetivo es hacer la carrera de programador FullStack, pero antes de eso me tengo que preparar bien y decidí empezar por este curso de python.
</div>
<div>
    <br><h6>Redes: </h6>
    <a href="https://www.linkedin.com/in/franco-stucchi-53ba31206/"><img src="\media\Imagenes\linkedin.png"width="20" height="20"></a>
    <a href="https://github.com/FrancoTuky"><img src="\media\Imagenes\GitHub.png"width="20" height="20"></a>
</div>
{% endblock contenido%}